@charset "utf-8";

/* fonts */
@font-face {
  font-family: "Komika Title";
  src: url('../fonts/KomikaTitle-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@300;400;500&display=swap');
